extends layout-admin

block content
  .main-panel
    .container
      .panel-header.bg-primary-gradient
        .page-inner.py-5
          .d-flex.align-items-left.align-items-md-center.flex-column.flex-md-row
            div
              h2.text-white.pb-2.fw-bold View All Program
              h5.text-white.op-7.mb-2 Welcome to Admin Panel
            .ml-md-auto.py-2.py-md-0
              a.btn.btn-white.btn-border.btn-round.mr-2(href='/admin/program/add') Add Program
              a.btn.btn-white.btn-border.btn-round.mr-2(href='/admin/dashboard') Dashboard
      .page-inner
        .row
          .col-md-12
            .card.card-with-nav
              .card-body
                //- pre= h.dump(courses)
                .table-responsive
                  .col-sm-12
                    table#basic-datatables.display.table.table-striped.table-hover.dataTable(role='grid', aria-describedby='basic-datatables_info')
                      thead
                        tr(role='row')
                          th Program Name
                          th Status
                          th Age
                          th Category
                          th Action
                      tbody
                        each program in programs
                          a(href="#")
                            tr.odd(role='row')
                              td.sorting_1 #{program.program_name}
                              td #{program.status == 'active' ? 'Active' : 'Inactive'}
                              td #{program.min_age} months to #{program.max_age} months
                              th #{program.programcategory_id.title}
                              td
                                a.btn.btn-link.btn-primary(href=`/admin/program/edit/${program._id}`)
                                  i.fa.fa-edit
                .row

  script.
    $(document).ready(function() {
      $('#basic-datatables').DataTable({
        ordering: false
      });
    });