extends layout-admin

block content
  .main-panel
    .container
      .panel-header.bg-primary-gradient
        div(style="padding:5px 20px 0px 20px;")
          .d-flex.align-items-left.align-items-md-center.flex-column.flex-md-row
            div
              h2.text-white.pb-2.fw-bold Edit Lead
              h5.text-white.op-7.mb-2 Welcome to Admin Panel
            .ml-md-auto.py-2.py-md-0
              if h.checkPermission(session.user, permissionCacheData, "LeadListing") || checkSuperAdmin
                a.btn.btn-white.btn-border.btn-round.mr-2(href='/admin/lead/all') All Lead
              a.btn.btn-white.btn-border.btn-round.mr-2(href='/admin/dashboard') Dashboard
      .page-inner
        //- pre= h.dump(employees)
        .row
          form.col-md-12(action=`/admin/lead/edit/${lead._id}`, method="POST")
            //- .card
            //-   .card-header
            //-     .card-title Center
            //-   .card-body
            //-     .row
            //-       .col-md-6.col-lg-12
            //-         .form-group
            //-           label(for='school_id') Select Center
            //-           select#school.form-control(name='school_id', required='')
            //-             //- option(value='') Select School
            //-             each center in centers
            //-               if lead.school_id
            //-                 option(value=center._id selected=(center._id.toString() == lead.school_id.toString())) #{center.school_name}
            .card
              .card-header
                .card-title Child Information
              .card-body
                .row
                  .col-md-6.col-lg-4
                    .form-group
                      label(for='child_first_name') First Name
                      input#child_first_name.form-control(type='text' name='child_first_name' placeholder='Enter First Name' required='' value=lead.child_first_name)
                  .col-md-6.col-lg-4
                    .form-group
                      label(for='child_last_name') Last Name
                      input#child_last_name.form-control(type='text' name='child_last_name' placeholder='Enter Last Name' value=lead.child_last_name)
                  .col-md-6.col-lg-4
                    .form-group
                      label(for='exampleFormControlSelect1') Select Gender
                      select#gender.form-control(name='child_gender' , required="")
                        option(value="") selcect gender
                        //- option(value="Female") Female
                        option(value='Male' selected=(lead.child_gender == 'Male' ? 'selected' : null)) Male
                        option(value='Female' selected=(lead.child_gender == 'Female' ? 'selected' : null)) Female
                  .col-md-6.col-lg-4
                    .form-group
                      label(for='dob') Date of birth
                      .input-group
                        if lead.child_dob
                          //- input#dob.form-control.custom-input.date(type='text' name='child_dob' required="" autocomplete="off" value=moment(lead.lead).format('L'))
                          input#dob.form-control.custom-input.date(type='text' name='child_dob'  required="" autocomplete="off" value=moment(lead.child_dob).format('L') onkeydown="return false;")
                        else
                          input#dob.form-control.custom-input.date(type='text' name='child_dob' autocomplete="off" value="")
                  .col-md-6.col-lg-4
                    .form-group
                      label(for='programcategory_id') Select Program Category
                      span.required-label *
                      select#programcategory.form-control(name='programcategory_id', required='')
                        option(value='') Select ProgramCategory
                        //- each programcategory in programcategorys
                          //- option(value=programcategory._id) #{programcategory.title}
                          //- option(value=programcategory._id selected=(programcategory._id.toString() == lead.programcategory_id._id.toString())) #{programcategory.title}
                  .col-md-6.col-lg-4
                    .form-group
                      label(for='program_id') Select Program
                      select#program.form-control(name='program_id', required='')
                        option(value='') Select Program
                        //- each program in programs
                        //-   option(value=program._id) #{program.program_name}
                  if lead.type === "enquiry"
                    #child_attended.col-md-6.col-lg-12
                      .form-group
                        label.form-label(for='child_pre_school') Has Child attended preschool before?
                        br
                        if lead.child_pre_school == "yes"
                          .selectgroup.w-25
                            label.selectgroup-item
                              input#yes.selectgroup-input(type='radio' name='child_pre_school' value='yes' checked='')
                              span.selectgroup-button Yes
                            label.selectgroup-item
                              input#no.selectgroup-input(type='radio' name='child_pre_school' value='no')
                              span.selectgroup-button No
                        else if lead.child_pre_school == "no"
                          .selectgroup.w-25
                            label.selectgroup-item
                              input#yes.selectgroup-input(type='radio' name='child_pre_school' value='yes')
                              span.selectgroup-button Yes
                            label.selectgroup-item
                              input#no.selectgroup-input(type='radio' name='child_pre_school' value='no' checked='')
                              span.selectgroup-button No
                        else
                          .selectgroup.w-25
                            label.selectgroup-item
                              input#yes.selectgroup-input(type='radio' name='child_pre_school' value='yes')
                              span.selectgroup-button Yes
                            label.selectgroup-item
                              input#no.selectgroup-input(type='radio' name='child_pre_school' value='no' checked='')
                              span.selectgroup-button No
                  else
                    #child_attended.col-md-6.col-lg-12
                      .form-check
                        label(for='child_pre_school') Has Child attended preschool before?
                        br
                        .selectgroup.w-25
                          label.selectgroup-item
                            input#yes.selectgroup-input(type='radio' name='child_pre_school' value='yes')
                            span.selectgroup-button Yes
                          label.selectgroup-item
                            input#no.selectgroup-input(type='radio' name='child_pre_school' value='no' checked='')
                            span.selectgroup-button No
            //- .card
            //-   .card-header
            //-     .card-title School Title
            //-   .card-body
            //-     .row
            //-       .col-md-6.col-lg-12
            //-         .form-group
            //-           label(for='school_id') Select School
            //-           select#school.form-control(name='school_id', required='')
            //-             //- option(value='') Select School
            //-             each center in centers
            //-               option(value=center._id selected=(center._id.toString() == lead.school_id.toString())) #{center.school_name}

            .card
                .card-header
                  .card-title Primary Parent Detail
                .card-body
                  .row
                    .col-md-6.col-lg-6
                      .form-group
                        label(for='exampleFormControlSelect1') Select Parent
                        span.required-label *
                        select#parent.form-control(name='primary_parent', required='')
                          //- option(value="Mother ") Mother
                          //- option(value="Father") Father
                          //- option(value="Guradian") Guradian
                          option(value='Mother' selected=(lead.primary_parent == 'Mother' ? 'selected' : null)) Mother
                          option(value='Father' selected=(lead.primary_parent == 'Father' ? 'selected' : null)) Father
                          option(value='Guradian' selected=(lead.primary_parent == 'Guradian' ? 'selected' : null)) Guradian
                    .col-md-6.col-lg-6
                      .form-group
                        label(for='parent_name') Name
                        span.required-label *
                        input#parent_name.form-control(type='text' name='parent_name' placeholder='Enter Parent Name' required='' value=lead.parent_name)

                    .col-md-6.col-lg-4
                      .form-group
                        label(for='parent_first_contact') Contact 1
                        span.required-label *
                        input#parent_first_contact.form-control(type='text' name='parent_first_contact' placeholder='Enter Contact 1' value=lead.parent_first_contact)
                        .form-check
                          label.form-check-label
                            input.form-check-input(type='checkbox' name='whatsapp_first' id="checkItem1" checked=(lead.parent_first_whatsapp == '1' ? 'checked' : unchecked))
                            span.form-check-sign Whatsapp
                    .col-md-6.col-lg-4
                      .form-group
                        label(for='parent_second_contact') Contact 2
                        input#parent_second_contact.form-control(type='text' name='parent_second_contact' placeholder='Enter Contact 2' value=lead.parent_second_contact)
                        .form-check
                          label.form-check-label
                            input.form-check-input(type='checkbox' name='whatsapp_second' id="checkItem2" checked=(lead.parent_second_whatsapp == '1' ? 'checked' : unchecked))
                            span.form-check-sign Whatsapp
                    //- col-md-6.col-lg-1
                    //-   //- .form-group
                    //-   //-   label(for='whatsapp_second') whatsapp
                    //-   //-   input(type="checkbox" name='whatsapp_second' checked=(lead.parent_second_whatsapp == '1' ? 'checked' : unchecked))
                    //-   .form-check
                    //-     label.form-check-label
                    //-       input.form-check-input(type='checkbox' name='whatsapp_second'  id="checkItem" checked=(lead.parent_second_whatsapp == '1' ? 'checked' : unchecked))
                    //-       span.form-check-sign whatsapp
                    .col-md-6.col-lg-4
                      .form-group
                        label(for='parent_email') Email Id
                        span.required-label *
                        input#parent_email.form-control(type='text' name='parent_email' placeholder='Enter Email' value=lead.parent_email required='')
                    .col-md-6.col-lg-6
                      .form-group
                        label(for='parent_education') Education
                        input#parent_education.form-control(type='text' name='parent_education' placeholder='Enter Parent education' value=lead.parent_education)
                    .col-md-6.col-lg-6
                      .form-group
                        label(for='parent_profession') Profession
                        input#parent_profession.form-control(type='text' name='parent_profession' placeholder='Enter Parent Profession' value=lead.parent_profession)
                    #cor_parent.col-md-3.col-lg-3
                      .form-group
                        label.form-label(for='lead_type') Lead type:
                        br
                        if lead.cor_parent == "partner_corporate"
                          .selectgroup.w-25
                            label.selectgroup-item
                              input#partner_corporate.selectgroup-input(type='radio' name='cor_parent' value='partner_corporate' checked='')
                              span.selectgroup-button Partner Corporate
                            label.selectgroup-item
                              input#others.selectgroup-input(type='radio' name='cor_parent' value='others')
                              span.selectgroup-button Others
                        else
                          .selectgroup.w-25
                            label.selectgroup-item
                              input#partner_corporate.selectgroup-input(type='radio' name='cor_parent' value='partner_corporate')
                              span.selectgroup-button Partner Corporate
                            label.selectgroup-item
                              input#others.selectgroup-input(type='radio' name='cor_parent' value='others' checked='')
                              span.selectgroup-button Others
                    if lead.cor_parent == "partner_corporate"
                      #comp_name_div.col-md-9.col-lg-9
                        .form-group
                          label(for='company_name_parent') Company Name
                          input#company_name_parent.form-control(type='text' name='company_name_parent' placeholder='Enter Parent Company Name' value=lead.company_name_parent)
                    else
                      #comp_name_div.col-md-9.col-lg-9
                        .form-group
                          label(for='company_name_parent') Company Name
                          input#company_name_parent.form-control(type='text' name='company_name_parent' placeholder='Enter Parent Company Name')
            if lead.type === "enquiry"
              #secondary_detail.card
                .card-header
                  .card-title Secondary Parent Detail
                .card-body
                  .row
                    .col-md-6.col-lg-6
                      .form-group
                        label(for='exampleFormControlSelect1') Select Parent
                        select#secondary_parent.form-control(name='secondary_parent_type', required="")
                          option(value="") Select Parent
                          //- option(value="Father") Father
                          //- option(value="Guradian") Guradian
                          option(value='Mother' selected=(lead.secondary_parent_type == 'Mother' ? 'selected' : null)) Mother
                          option(value='Father' selected=(lead.secondary_parent_type == 'Father' ? 'selected' : null)) Father
                          option(value='Guradian' selected=(lead.secondary_parent_type == 'Guradian' ? 'selected' : null)) Guradian
                    .col-md-6.col-lg-6
                      .form-group
                        label(for='secondary_parent_name') Name
                        input#secondary_parent_name.form-control(type='text' name='secondary_parent_name' placeholder='Enter Parent Name' required="" value=lead.secondary_parent_name)

                    .col-md-6.col-lg-4
                      .form-group
                        label(for='secondary_first_contact') Contact 1
                        input#secondary_first_contact.form-control(type='text' name='secondary_first_contact' placeholder='Enter Contact 1' value=lead.secondary_first_contact)
                        .form-check
                          label.form-check-label
                            input.form-check-input(tabindex="-1" type='checkbox' name='secondary_first_whatsapp' id="checkItemSec1" checked=(lead.secondary_first_whatsapp == '1' ? 'checked' : unchecked))
                            span.form-check-sign Whatsapp
                    .col-md-6.col-lg-4
                      .form-group
                        label(for='secondary_Second_contact') Contact 2
                        input#secondary_Second_contact.form-control(type='text' name='secondary_Second_contact' placeholder='Enter Contact 2' value=lead.secondary_Second_contact)
                        .form-check
                          label.form-check-label
                            input.form-check-input(tabindex="-1" type='checkbox' name='secondary_second_whatsapp'  id="checkItemSec2" checked=(lead.secondary_second_whatsapp == '1' ? 'checked' : unchecked))
                            span.form-check-sign Whatsapp

                    .col-md-6.col-lg-4
                      .form-group
                        label(for='secondary_email') Email Id
                        input#secondary_email.form-control(type='text' required="" name='secondary_email' placeholder='Enter Email' value=lead.secondary_email)
                    .col-md-6.col-lg-6
                      .form-group
                        label(for='secondary_education') Education
                        input#secondary_education.form-control(type='text'  name='secondary_education' placeholder='Enter Parent education' value=lead.secondary_education)
                    .col-md-6.col-lg-6
                      .form-group
                        label(for='secondary_profession') Profession
                        input#secondary_profession.form-control(type='text' name='secondary_profession' placeholder='Enter Parent Profession' value=lead.secondary_profession)
            else
              #secondary_detail.card
                .card-header
                  .card-title Secondary Parent Detail
                .card-body
                  .row
                    .col-md-6.col-lg-6
                      .form-group
                        label(for='exampleFormControlSelect1') Select Parent
                        select#secondary_parent.form-control(name='secondary_parent_type', required="")
                          option(value="") Select Parent
                          option(value='Mother') Mother
                          option(value='Father') Father
                          option(value='Guradian') Guradian
                    .col-md-6.col-lg-6
                      .form-group
                        label(for='secondary_parent_name') Name
                        input#secondary_parent_name.form-control(type='text' name='secondary_parent_name' placeholder='Enter Parent Name' required="")
                    .col-md-6.col-lg-4
                      .form-group
                        label(for='secondary_first_contact') Contact 1
                        input#secondary_first_contact.form-control(type='text' name='secondary_first_contact' placeholder='Enter Contact 1')
                        .form-check
                          label.form-check-label
                            input.form-check-input(tabindex="-1"  type='checkbox' name='secondary_first_whatsapp'  id="checkItemSec1")
                            span.form-check-sign Whatsapp
                    .col-md-6.col-lg-4
                      .form-group
                        label(for='secondary_Second_contact') Contact 2
                        input#secondary_Second_contact.form-control(type='text' name='secondary_Second_contact' placeholder='Enter Contact 2')
                        .form-check
                          label.form-check-label
                            input.form-check-input(tabindex="-1" type='checkbox' name='secondary_second_whatsapp'  id="checkItemSec2")
                            span.form-check-sign Whatsapp
                    .col-md-6.col-lg-4
                      .form-group
                        label(for='secondary_email') Email Id
                        input#secondary_email.form-control(type='text' required="" name='secondary_email' placeholder='Enter Email')
                    .col-md-6.col-lg-6
                      .form-group
                        label(for='secondary_education') Education
                        input#secondary_education.form-control(type='text'  name='secondary_education' placeholder='Enter Parent education')
                    .col-md-6.col-lg-6
                      .form-group
                        label(for='secondary_profession') Profession
                        input#secondary_profession.form-control(type='text'  name='secondary_profession' placeholder='Enter Parent Profession')
            .card
              .card-header
                .card-title Primary Parent Address
              .card-body
                .row
                  .col-md-6.col-lg-4
                    .form-group
                      label(for='parent_country') Country
                      select#country.form-control(name='parent_country',)
                        option(value='') Select Country
                        each employee in employees
                          //- option(value=programcategory._id) #{programcategory.title}
                          if lead.parent_country
                            option(value=`${employee.country_id}|${employee._id}` selected=(employee._id.toString() == lead.parent_country.toString())) #{employee.country_name}
                          else
                            option(value=`${employee.country_id}|${employee._id}`) #{employee.country_name}
                  .col-md-6.col-lg-4
                    .form-group
                      label(for='parent_state') State
                      select#state.form-control(name='parent_state')
                        option(value='') Select State
                        each state in states
                          //- option(value=programcategory._id) #{programcategory.title}
                          if lead.parent_state
                            option(value=`${state.id}|${state._id}` selected=(state._id.toString() == lead.parent_state.toString())) #{state.state_name}
                  .col-md-6.col-lg-4
                    .form-group
                      label(for='parent_city') City
                      select#city.form-control(name='parent_city')
                        option(value='') Select city
                        //- each city in citys
                        //-   //- option(value=programcategory._id) #{programcategory.title}
                        //-   if (lead.parent_city.toString() == city._id.toString())
                        //-     option(value=`${city.id}|${city._id}` selected=(city._id.toString() == lead.parent_city.toString())) #{city.city_name}
                        each state in states
                          each city in citys
                            if lead.parent_city
                              if (state._id.toString() == lead.parent_state.toString())
                                if(state.id == city.state_id)
                                  option(value=`${city.id}|${city._id}` selected=(city._id.toString() == lead.parent_city.toString())) #{city.city_name}

                  .col-md-6.col-lg-4
                    .form-group
                      label(for='parent_area') Area
                      input#parent_area.form-control(type='text' name='parent_area' placeholder='Enter Parent Area' value=lead.parent_area)
                  .col-md-6.col-lg-4
                    .form-group
                      label(for='parent_pincode') Pincode
                      input#parent_pincode.form-control(type='text' name='parent_pincode'  placeholder='Enter Parent Pincode' value=lead.parent_pincode)
                  .col-md-6.col-lg-4
                      .form-group
                        label(for='exampleFormControlSelect1') How did you come to Know about us
                        span.required-label *
                        //- label.form-check-label(style="position:absolute;right:10px;")
                          input.form-check-input(tabindex="-1" type='checkbox' name='sel_know_check' id="sel_know_check" checked=(lead.parent_know_aboutus.length ==  knowuss.length ? 'checked' : unchecked))
                          span.form-check-sign Select All
                        select#know_us.form-control(name='parent_know_aboutus' , multiple='multiple')
                          option(value='') How did you come to Know about us*
                          each knowus in knowuss
                            //- option(value=knowus.name) #{knowus.name}
                            option(value=`${knowus.name}` selected=(lead.parent_know_aboutus.includes(knowus.name) == true ? 'selected' : null)) #{knowus.name}
                  if lead.type === "enquiry"
                    #landmark.col-md-6.col-lg-3
                      .form-group
                        label(for='parent_landmark') Landmark
                        input#parent_landmark.form-control(type='text' name='parent_landmark' required="" placeholder='Enter Parent Landmark' value=lead.parent_landmark)
                    #house.col-md-6.col-lg-3
                      .form-group
                        label(for='parent_house') House
                        input#parent_house.form-control(type='text' name='parent_house' required="" placeholder='Enter Parent House' value=lead.parent_house)
                    #street.col-md-6.col-lg-3
                      .form-group
                        label(for='parent_street') Street
                        input#parent_street.form-control(type='text'  required="" name='parent_street' placeholder='Enter Parent Street' value=lead.parent_street)
                    #address_s.col-md-6.col-lg-3
                      .form-group
                        label(for='parent_address') Address
                        input#parent_address.form-control(type='text' name='parent_address' placeholder='Enter Parent Address' value=lead.parent_address)
                  else
                    #landmark.col-md-6.col-lg-3
                      .form-group
                        label(for='parent_landmark') Landmark
                        input#parent_landmark.form-control(type='text' name='parent_landmark' placeholder='Enter Parent Landmark')
                    #house.col-md-6.col-lg-3
                      .form-group
                        label(for='parent_house') House
                        input#parent_house.form-control(type='text' name='parent_house' placeholder='Enter Parent House')
                    #street.col-md-6.col-lg-3
                      .form-group
                        label(for='parent_street') Street
                        input#parent_street.form-control(type='text' name='parent_street' placeholder='Enter Parent Street')
                    #address_s.col-md-6.col-lg-3
                      .form-group
                        label(for='parent_address') Address
                        input#parent_address.form-control(type='text' name='parent_address' placeholder='Enter Parent Address')
            .card
              .card-header
                .card-title Source Category
              .card-body
                .row
                  .col-md-6.col-lg-4
                    .form-group
                      label(for='source_category') Source Category
                      select#source.form-control(name='source_category')
                        option(value='') Select Source Category
                        //- option(value="direct-walk-in") Direct-Walk-in
                        //- option(value="digital-lead") Digital Lead
                        //- option(value="database/events") Database/Events
                        option(value='direct-walk-in' selected=(lead.source_category == 'direct-walk-in' ? 'selected' : null)) Direct Walk in
                        option(value='digital-lead' selected=(lead.source_category == 'digital-lead' ? 'selected' : null)) Digital Lead
                        option(value='database/events' selected=(lead.source_category == 'database/events' ? 'selected' : null)) Database/Events
                  .col-md-6.col-lg-4
                    .form-group
                      label(for='status_id') Select Status
                      span.required-label *
                      select#status.form-control(name='status_id', required='' disabled=(lead.enrolled == 1 ? true : false))
                        option(value='') Select Status
                        each statuse in statuses
                          //- option(value=statuse._id) #{statuse.name}
                          if lead.enrolled !== 1
                            option(value=statuse._id data-type=statuse.type data-stage=statuse.stage selected=(statuse._id.toString() == lead.status_id.toString())) #{statuse.name}
                          else
                            option(value=statuse._id data-type=statuse.type data-stage=statuse.stage selected=(statuse._id.toString() == lead.status_id.toString())) #{statuse.name}
                  .col-md-6.col-lg-4
                    .form-group
                      label(for='substatus_id') Select Sub Status
                      span.required-label *
                      select#substatus.form-control(name='substatus_id', required='' disabled=(lead.enrolled == 1 ? true : false))
                        //- option(value='') Select Sub Status
                        //- each statuse in statuses
                        //-   option(value=statuse._id) #{statuse.name}
                  .col-md-6.col-lg-12
                    .form-group
                      //- label(for='stage') Stage
                      input#stage.form-control(type='hidden' name='stage' placeholder='Enter stage')
                      input#lead_type.form-control(type='hidden' name='lead_type' placeholder='Enter type')
                  .col-md-6.col-lg-12
                    .form-group
                      //- .form-check
                        label.form-check-label
                          input.form-check-input(type='checkbox' name='sel_action_check' id="sel_action_check" checked=(lead.action_taken.length == actions.length  ? 'checked' : unchecked))
                          span.form-check-sign Select All
                      label(for='action_taken') Action Planned / Taken
                      //- span.required-label *
                      select#action_planned.form-control(name='action_taken[]',multiple='multiple' )
                        each action in actions
                          option(value=action.name selected=(lead.action_taken.includes(action.name) == true ? 'selected' : null)) #{action.name}
                  .col-md-6.col-lg-12
                    .form-group
                      label(for='remark') Remark
                      //- input#remark.form-control(type='text' name='remark' placeholder='Enter remark' value=lead.remark)
                      if lead.remark.includes("{")
                        textarea.form-control(rows='5', cols='5', id="remark", name="remark")
                      else
                        textarea.form-control(rows='5', cols='5', id="remark", name="remark") #{lead.remark}


            .card-action
              .row
                .col-md-12
                  button.btn.btn-color.btm-block(type="submit") Save Changes
  block script
    script(type='text/javascript' src='https://cdn.jsdelivr.net/momentjs/latest/moment.min.js')
    script(type='text/javascript' src='https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js')

  script.
    var lead = !{JSON.stringify(lead)}
    var programs = !{JSON.stringify(programs)}
    var programcategorys = !{JSON.stringify(programcategorys)}
    var substatuses = !{JSON.stringify(substatuses)}
    var states = !{JSON.stringify(states)}
    var citys = !{JSON.stringify(citys)}

    $(document).ready(function () {
      let checkbox = document.getElementById("checkItem1");
      checkbox.addEventListener( "change", () => {
         if (checkbox.checked) {
          $("#parent_first_contact").prop("required", true);
          $("#parent_second_contact").prop("required", false);
          $("#checkItem2").prop('checked', false);
         } else {
          alert('parent_first_contact-false');
          $("#checkItem2").prop('checked', true);
          $("#parent_first_contact").prop("required", false);
         }
      });

      let checkbox2 = document.getElementById("checkItem2");
      checkbox2.addEventListener( "change", () => {
         if (checkbox2.checked) {
          $("#parent_second_contact").prop("required", true);
          $("#parent_first_contact").prop("required", false);
          $("#checkItem1").prop('checked', false);
         } else {
          alert('parent_second_contact-false');
          $("#checkItem2").prop('checked', true);
          $("#parent_second_contact").prop("required", false);
         }
      });

      if (lead.cor_parent == "partner_corporate") {
        $("#comp_name_div").show();
      } else {
        $("#comp_name_div").hide();
      }
      let checkboxpart = document.getElementById("partner_corporate");
      let checkbox1oth = document.getElementById("others");
      checkboxpart.addEventListener("change", () => {
         if (checkboxpart.checked) {
          $("#comp_name_div").show();
          $("#company_name_parent").prop("required", true);
         } else {
          $("#comp_name_div").hide();
          $("#company_name_parent").prop("required", false);
         }
      });
      checkbox1oth.addEventListener("change", () => {
         if (checkbox1oth.checked) {
          $("#comp_name_div").hide();
          $("#company_name_parent").prop("required", false);
         } else {
          $("#comp_name_div").show();
          $("#company_name_parent").prop("required", true);
         }
      });

      if (lead.type == "enquiry") {
        let checkbox = document.getElementById("checkItemSec1");
        checkbox.addEventListener( "change", () => {
          if (checkbox.checked) {
            $("#secondary_first_contact").prop("required", true);
            $("#secondary_Second_contact").prop("required", false);
            $("#checkItemSec2").prop('checked', false);
          } else {
            $("#checkItemSec2").prop('checked', true);
            $("#secondary_first_contact").prop("required", false);
          }
        });

        let checkbox2 = document.getElementById("checkItemSec2");
        checkbox2.addEventListener( "change", () => {
          if (checkbox2.checked) {
            $("#secondary_Second_contact").prop("required", true);
            $("#secondary_first_contact").prop("required", false);
            $("#checkItemSec1").prop('checked', false);
          } else {
            alert('parent_second_contact-false');
            $("#checkItemSec2").prop('checked', true);
            $("#secondary_Second_contact").prop("required", false);
          }
        });
      }

      if(lead.child_dob){
        //- console.log(lead.child_dob)
        //- console.log("date")
        var startdate = new Date();
        startdate.setFullYear(startdate.getFullYear() - 10);
        $(`#dob`).daterangepicker({
          singleDatePicker: true,
          showDropdowns: true,
          maxDate: new Date(),
          minDate:startdate,
          //- minYear: moment().year(),
          //- maxYear: parseInt(moment().format('YYYY'),10),
          autoApply: true
        });
        //- $(`#dob`).daterangepicker({
        //-   singleDatePicker: true,
        //-   showDropdowns: true,
        //-   minYear: moment().year(),
        //-   maxYear: parseInt(moment().format('YYYY'),10),
        //-   autoApply: true
        //- });
      }else{
        //- console.log("no date")
        $(`#dob`).daterangepicker({
        autoUpdateInput: false,
        singleDatePicker: true,
        maxDate: new Date(),
        //- minYear: parseInt(moment().format('YYYY'),10),
        showDropdowns: true,
        autoApply: true
        }, function (start, end, label) {
          $("#dob").val(start.format('YYYY/MM/DD'))
        });
      }
      $('#know_us').select2({
        placeholder: "Select Known us",
        theme: "bootstrap"
      });
      $("#sel_know_check").click(function(){
        if($("#sel_know_check").is(':checked') ){
          $("#know_us > option").prop("selected","selected");
          $("#know_us").trigger("change");
        }else{
          $("#know_us > option").removeAttr("selected");
          $("#know_us").trigger("change");
        }
      });
      //- $('#secondary_parent').select2({
      //-   placeholder: "Select Known us",
      //-   theme: "bootstrap"
      //- });
      $('#secondary_parent').select2({
        placeholder: "Select parent",
        theme: "bootstrap"
      });
      $('#country').select2({
        placeholder: "Select country ",
        theme: "bootstrap"
      });
      $('#state').select2({
        placeholder: "Select state ",
        theme: "bootstrap"
      });
      $('#city').select2({
        placeholder: "Select city ",
        theme: "bootstrap"
      });
      $('#programcategory').select2({
        placeholder: "Select programcategory",
        theme: "bootstrap"
      });
      $('#school').select2({
        theme: "bootstrap"
      });
      $('#source').select2({
        placeholder: "Select source",
        theme: "bootstrap"
      });
      $('#parent').select2({
        theme: "bootstrap"
      });
      $('#gender').select2({
        placeholder: "Select gender",
        theme: "bootstrap"
      });
      $('#action_planned').select2({
        placeholder: "Select Action Planned",
        theme: "bootstrap",
        closeOnSelect: false
      });
      $("#sel_action_check").click(function(){
        if($("#sel_action_check").is(':checked') ){
          $("#action_planned > option").prop("selected","selected");
          $("#action_planned").trigger("change");
        }else{
          $("#action_planned > option").removeAttr("selected");
          $("#action_planned").trigger("change");
        }
      });
      $('#program').select2({
        placeholder: "Select program",
        theme: "bootstrap"
      });
      $('#status').select2({
        placeholder: "Select status",
        theme: "bootstrap"
      });
      $('#substatus').select2({
        placeholder: "Select substatus",
        theme: "bootstrap"
      });
      //- console.log(substatuses,"substatuses")
      //- console.log(lead.program_id,"leadid")
      $(document).on('change', '#action_planned', function () {
        let actionsList = $("#action_planned option").length;
        var valueLength = $(this).val() ? $(this).val().length : 0;
          if (actionsList == valueLength) {
            $('#sel_action_check').prop('checked',true);
          } else {
            $('#sel_action_check').prop('checked',false);
          }
      })
      $(document).on('change', '#know_us', function () {
        let knowusList = $("#know_us option").length;
        var valueLength = $(this).val() ? $(this).val().length : 0;
          if (knowusList == valueLength) {
            $('#sel_know_check').prop('checked',true);
          } else {
            $('#sel_know_check').prop('checked',false);
          }
      })
      for (var i = 0; i < programs.length; i++) {
        var id = programs[i]['_id'];
        var name = programs[i]['program_name'];
        var programcategory = programs[i]['programcategory_id']
        //- console.log(programcategory,"programcategory")
        //- console.log(lead.programcategory_id,"lead.programcategory_id")

        //- console.log(programs[i])
        if(lead.program_id){

          if (lead.program_id.includes(id)) {
            $("#program").append(`<option value='${id}' selected=(${lead.program_id.includes(id) == true ? 'selected' : null})>${name}</option>`);
          } else if(lead.programcategory_id.includes(programcategory)){
            $("#program").append(`<option value='${id}'>${name}</option>`);
          }
        }else if (lead.programcategory_id.includes(programcategory)){

          $("#program").append(`<option value='${id}'>${name}</option>`);
        }
      }

      //- console.log(lead.parent_state,"parent_state")
      //- for (var i = 0; i < programcategorys.length; i++) {
      //-   var id = programcategorys[i]['_id'];
      //-   var name = programcategorys[i]['title'];

      //-   console.log(id,"idsadsds")

      //-   if (lead.programcategory_id.includes(id)) {
      //-     console.log(id,"matchingid")
      //-     $("#programcategory").append(`<option value='${id}' selected=(${lead.programcategory_id.includes(id) == true ? 'selected' : null})>${name}</option>`);
      //-   }
      //- }
      //- for (var i = 0; i < states.length; i++) {
      //-   var id = states[i]['_id'];
      //-   var name = states[i]['state_name'];
      //-   var state_id = states[i]['id']

      //-   // console.log(page.testimonials.includes(id));

      //-   if (lead.parent_state.includes(id)) {
      //-     $("#state").append(`<option value='${state_id}|${id}' selected=(${lead.parent_state.includes(id) == true ? 'selected' : null})>${name}</option>`);
      //-   }
      //- }
      //- for (var i = 0; i < citys.length; i++) {
      //-   var id = citys[i]['_id'];
      //-   var name = citys[i]['city_name'];
      //-   var city_id = citys[i]['id']

      //-   // console.log(page.testimonials.includes(id));

      //-   if (lead.parent_city.includes(id)) {
      //-     $("#city").append(`<option value='${city_id}|${id}' selected=(${lead.parent_city.includes(id) == true ? 'selected' : null})>${name}</option>`);
      //-   }
      //- }


      //- $('#select2-country-container').on('click',function () {
      //-   //- var countryId = $(this).children('span');
      //-   var countryId = $("#country option:selected").val();
      //-   var id = countryId.split("|")[0];
      //-   console.log(id,"couidd")

      //-   $.ajax({
      //-     method: 'POST',
      //-     url: `/admin/lead/state`,
      //-     data: {
      //-       type: id
      //-     },
      //-     dataType: 'json',
      //-     success: function (response) {
      //-       //- console.log(response,"response")

      //-       $("#state").empty();
      //-       $("#state").append(`<option value=''>Select state</option>`);

      //-       var len = response.data.length;
      //-       for (var i = 0; i < len; i++) {
      //-         var id = response.data[i]['_id'];
      //-         var state_name = response.data[i]['state_name'];
      //-         var state_id = response.data[i]['id']

      //-         console.log(response,"responssse")
      //-         console.log(id,"id")
      //-         console.log(state_name,"ststae_name")
      //-         console.log(state_id,"state_id")



      //-       //-   // $(".testi_class").append("<option value='" + id + "'>" + name + "</option>");

      //-         $("#state").append(`<option value='${state_id}|${id}'>${state_name}</option>`);

      //-       }
      //-       // $(".testi_class").select2("refresh");
      //-     }
      //-   });
      //- });
      $(document).on('change', '#country', function () {
        var countryId = $(this).val();
        var id = countryId.split("|")[0];
        //- console.log(id,"couidd")

        $.ajax({
          method: 'POST',
          url: `/admin/lead/state`,
          data: {
            type: id
          },
          dataType: 'json',
          success: function (response) {
            //- console.log(response,"response")

            $("#state").empty();
            $("#state").append(`<option value=''>Select state</option>`);

            var len = response.data.length;
            for (var i = 0; i < len; i++) {
              var id = response.data[i]['_id'];
              var state_name = response.data[i]['state_name'];
              var state_id = response.data[i]['id']

              //- console.log(response,"responssse")
              //- console.log(id,"id")
              //- console.log(state_name,"ststae_name")
              //- console.log(state_id,"state_id")



            //-   // $(".testi_class").append("<option value='" + id + "'>" + name + "</option>");

              $("#state").append(`<option value='${state_id}|${id}'>${state_name}</option>`);

            }
            // $(".testi_class").select2("refresh");
          }
        });
      });
      $(document).on('change', '#state', function () {
        var stateId = $(this).val();
        var id = stateId.split("|")[0];
        //- console.log(id,"city")

        $.ajax({
          method: 'POST',
          url: `/admin/lead/city`,
          data: {
            type: id
          },
          dataType: 'json',
          success: function (response) {
            //- console.log(response,"response")

            $("#city").empty();
            $("#city").append(`<option value=''>Select city</option>`);

            var len = response.data.length;
            for (var i = 0; i < len; i++) {
              var id = response.data[i]['_id'];
              var city_name = response.data[i]['city_name'];
              var city_id = response.data[i]['id']

              //- console.log(response,"responssse")
              //- console.log(id,"id")
              //- console.log(city_name,"ststae_name")
              //- console.log(city_id,"state_id")



            if(lead.parent_city){

              if (lead.parent_city.includes(id)) {
                $("#city").append(`<option value='${city_id}|${id}' selected=(${lead.parent_city.includes(id) == true ? 'selected' : null}>${city_name}</option>`);
              }else{
                $("#city").append(`<option value='${city_id}|${id}'>${city_name}</option>`);
              }
            }else{
              $("#city").append(`<option value='${city_id}|${id}'>${city_name}</option>`);
            }

              //- $("#city").append(`<option value='${city_id}|${id}'>${city_name}</option>`);

            }
            // $(".testi_class").select2("refresh");
          }
        });
      });
      $(document).on('change', '#programcategory', function () {
      var id = $(this).val();
      //- console.log(id)

      $.ajax({
        method: 'POST',
        url: `/admin/lead/dropdown`,
        data: {
          type: id
        },
        dataType: 'json',
        success: function (response) {
          //- console.log(response,"response")

          $("#program").empty();
          $("#program").append(`<option value=''>Select Program</option>`);

          var len = response.data.length;
          for (var i = 0; i < len; i++) {
            var id = response.data[i]['_id'];
            var program_name = response.data[i]['program_name'];

            //- console.log(response,"responssse")
            //- console.log(id,"id")



          //-   // $(".testi_class").append("<option value='" + id + "'>" + name + "</option>");

            $("#program").append(`<option value='${id}'>${program_name}</option>`);

          }
          // $(".testi_class").select2("refresh");
        }
      });
    });
      for (var i = 0; i < substatuses.length; i++) {
        var id = substatuses[i]['_id'];
        var name = substatuses[i]['name'];
        //- console.log(name,"name")
        //- console.log(lead.substatus_id,"subid")

        // console.log(page.testimonials.includes(id));

        if (lead.substatus_id.includes(id)) {
          $("#substatus").append(`<option value='${id}' selected=(${lead.substatus_id.includes(id) == true ? 'selected' : null})>${name}</option>`);
        } else {
          $("#substatus").append(`<option value='${id}'>${name}</option>`);
        }
      }
      //- $(document).on('change', '#school', function () {
      //-   var id = $(this).val();
      //-   console.log(id,"school")
        //- console.log(lead.school_id,"lead")

        $.ajax({
          method: 'POST',
          url: `/admin/lead/center`,
          data: {
            type: lead.school_id
          },
          dataType: 'json',
          success: function (response) {
            //- console.log(response,"response")

            $("#programcategory").empty();
            $("#programcategory").append(`<option value=''>Select programcategory</option>`);

            var len = response.data.length;
            for (var i = 0; i < len; i++) {
              var id = response.data[i]['_id'];
              var title = response.data[i]['title'];


              //- console.log(response,"responssse")
              //- console.log(id,"id")
              //- console.log(title,"title")




            //-   // $(".testi_class").append("<option value='" + id + "'>" + name + "</option>");
            if (lead.programcategory_id.includes(id)) {
              $("#programcategory").append(`<option value='${id}' selected=(${lead.programcategory_id.includes(id) == true ? 'selected' : null})>${title}</option>`);
            }else{

              $("#programcategory").append(`<option value='${id}'>${title}</option>`);
            }


            }
            // $(".testi_class").select2("refresh");
          }
        });
      //- });
      $(document).on('change', '#school', function () {
        var id = $(this).val();
        //- console.log(id,"school")
        //- console.log(lead.school_id,"lead")

        $.ajax({
          method: 'POST',
          url: `/admin/lead/center`,
          data: {
            type: id
          },
          dataType: 'json',
          success: function (response) {
            //- console.log(response,"response")

            $("#programcategory").empty();
            $("#programcategory").append(`<option value=''>Select programcategory</option>`);

            var len = response.data.length;
            for (var i = 0; i < len; i++) {
              var id = response.data[i]['_id'];
              var title = response.data[i]['title'];


              //- console.log(response,"responssse")
              //- console.log(id,"id")
              console.log(title,"title")

            //-   // $(".testi_class").append("<option value='" + id + "'>" + name + "</option>");

              $("#programcategory").append(`<option value='${id}'>${title}</option>`);

            }
            // $(".testi_class").select2("refresh");
          }
        });
      });

      if (lead.type == "lead") {
        $("#child_attended").hide();
        $("#landmark").hide();
        $("#secondary_detail").hide();
        $("#house").hide();
        $("#street").hide();
        $("#address_s").hide();

        $("#parent_landmark").prop("required", false);
        $("#parent_house").prop("required", false);
        $("#parent_street").prop("required", false);
        $("#parent_address").prop("required", false);
        $("#secondary_parent").prop("required", false);
        $("#secondary_parent_name").prop("required", false);
        $("#secondary_email").prop("required", false);
        $("#parent_education").prop("required", false);
        $("#parent_profession").prop("required", false);
        $("#parent_pincode").prop("required", false);
        $("#country").prop("required", false);
        $("#state").prop("required", false);
        $("#city").prop("required", false);

        $("#child_first_name").prop("required", false);
        $("#child_last_name").prop("required", false);
        $("#gender").prop("required", false);
        $("#program").prop("required", false);

        $("#secondary_first_contact").prop("required", false);
        $("#secondary_Second_contact").prop("required", false);
        $("#checkItemSec1").prop("checked", false);
        $("#checkItemSec2").prop("checked", false);

        checkInq = 0;
      } else {
        $("#child_attended").show();
        $("#landmark").show();
        $("#secondary_detail").show();
        $("#house").show();
        $("#street").show();
        $("#address_s").show();

        $("#parent_landmark").prop("required", true);
        $("#parent_house").prop("required", true);
        $("#parent_street").prop("required", true);
        $("#parent_address").prop("required", true);
        $("#secondary_parent").prop("required", true);
        $("#secondary_parent_name").prop("required", true);
        $("#secondary_email").prop("required", true);
        $("#parent_education").prop("required", true);
        $("#parent_profession").prop("required", true);
        $("#parent_pincode").prop("required", true);
        $("#country").prop("required", true);
        $("#state").prop("required", true);
        $("#city").prop("required", true);

        $("#child_first_name").prop("required", true);
        $("#child_last_name").prop("required", true);
        $("#gender").prop("required", true);
        $("#program").prop("required", true);

        $("#secondary_first_contact").prop("required", true);
        $("#checkItemSec1").prop("checked", true);
        checkInq = 1;
      }

      $("#lead_type").val(lead.type);
      $("#stage").val(lead.stage);

      $(document).on('change', '#status', function () {
      var id = $(this).val();
      var type = $(this).find(':selected').attr('data-type');
      var stage = $(this).find(':selected').attr('data-stage');
      //- console.log(id,"id")

      $("#lead_type").val(type);
      $("#stage").val(stage);

      //- console.log(stage);

      if (stage == "Post Tour" || stage == "Closed-Enquiry Lost" || stage == "Closed-Won") {
        //- console.log('show popup');
        $("#child_attended").show();
        $("#landmark").show();
        $("#secondary_detail").show();
        $("#house").show();
        $("#street").show();
        $("#address_s").show();

        $("#parent_landmark").prop("required", true);
        $("#parent_house").prop("required", true);
        $("#parent_street").prop("required", true);
        $("#parent_address").prop("required", true);
        $("#secondary_parent").prop("required", true);
        $("#secondary_parent_name").prop("required", true);
        $("#secondary_email").prop("required", true);
        $("#parent_education").prop("required", true);
        $("#parent_profession").prop("required", true);
        $("#parent_pincode").prop("required", true);

        $("#country").prop("required", true);
        $("#state").prop("required", true);
        $("#city").prop("required", true);

        $("#child_first_name").prop("required", true);
        $("#child_last_name").prop("required", true);
        $("#gender").prop("required", true);
        $("#program").prop("required", true);

        $("#secondary_first_contact").prop("required", true);
        $("#checkItemSec1").prop("checked", true);
        checkInq = 1;

      } else {

        //- console.log('hide popup');
        $("#child_attended").hide();
        $("#landmark").hide();
        $("#secondary_detail").hide();
        $("#house").hide();
        $("#street").hide();
        $("#address_s").hide();

        $("#parent_landmark").prop("required", false);
        $("#parent_house").prop("required", false);
        $("#parent_street").prop("required", false);
        $("#parent_address").prop("required", false);
        $("#secondary_parent").prop("required", false);
        $("#secondary_parent_name").prop("required", false);
        $("#secondary_email").prop("required", false);
        $("#parent_education").prop("required", false);
        $("#parent_profession").prop("required", false);
        $("#parent_pincode").prop("required", false);

        $("#country").prop("required", false);
        $("#state").prop("required", false);
        $("#city").prop("required", false);

        $("#child_first_name").prop("required", false);
        $("#child_last_name").prop("required", false);
        $("#gender").prop("required", false);
        $("#program").prop("required", false);

        $("#secondary_first_contact").prop("required", false);
        $("#secondary_Second_contact").prop("required", false);
        $("#checkItemSec1").prop("checked", false);
        $("#checkItemSec2").prop("checked", false);

        checkInq = 0;
      }

      if (checkInq) {
        let checkbox = document.getElementById("checkItemSec1");
        checkbox.addEventListener( "change", () => {
          if (checkbox.checked) {
            $("#secondary_first_contact").prop("required", true);
            $("#secondary_Second_contact").prop("required", false);
            $("#checkItemSec2").prop('checked', false);
          } else {
            $("#checkItemSec2").prop('checked', true);
            $("#secondary_first_contact").prop("required", false);
          }
        });

        let checkbox2 = document.getElementById("checkItemSec2");
        checkbox2.addEventListener( "change", () => {
          if (checkbox2.checked) {
            $("#secondary_Second_contact").prop("required", true);
            $("#secondary_first_contact").prop("required", false);
            $("#checkItemSec1").prop('checked', false);
          } else {
            alert('parent_second_contact-false');
            $("#checkItemSec2").prop('checked', true);
            $("#secondary_Second_contact").prop("required", false);
          }
        });
      }

      $.ajax({
        method: 'POST',
        url: `/admin/lead/status`,
        data: {
          type: id
        },
        dataType: 'json',
        success: function (response) {
          //- console.log(response,"response")

          $("#substatus").empty();
          $("#substatus").append(`<option value=''>Select Substatus</option>`);

          var len = response.data.length;
          if(len == 1){
            for (var i = 0; i < len; i++) {
            //- console.log(response.data[i]);
            var id = response.data[i]['_id'];
            var program_name = response.data[i]['name'];
            var stage = response.data[i]['stage']

            //- console.log(response,"responssse")
            //- console.log(id,"id")
            //- console.log(stage,"stage")


          //-   // $(".testi_class").append("<option value='" + id + "'>" + name + "</option>");

              $("#substatus").append(`<option value='${id}' selected>${program_name}</option>`);
            }
          }else{

            for (var i = 0; i < len; i++) {
              //- console.log(response.data[i]);
              var id = response.data[i]['_id'];
              var program_name = response.data[i]['name'];
              var stage = response.data[i]['stage']

              //- console.log(response,"responssse")
              //- console.log(id,"id")
              //- console.log(stage,"stage")


            //-   // $(".testi_class").append("<option value='" + id + "'>" + name + "</option>");

              $("#substatus").append(`<option value='${id}'>${program_name}</option>`);
            }
          }
          //- for (var i = 0; i < len; i++) {
          //-   var id = response.data[i]['_id'];
          //-   var program_name = response.data[i]['name'];
          //-   var stage = response.data[i]['stage']

          //-   //- console.log(response,"responssse")
          //-   //- console.log(id,"id")
          //-   //- console.log(stage,"stage")


          //- //-   // $(".testi_class").append("<option value='" + id + "'>" + name + "</option>");

          //-   $("#substatus").append(`<option value='${id}'>${program_name}</option>`);
          //-   //- $("#stage").val(stage);
          //- }
          // $(".testi_class").select2("refresh");
        }
      });
    });
    })
//- extends layout-admin

//- block content
//-   .main-panel
//-     .container
//-       .panel-header.bg-primary-gradient
//-         .page-inner.py-5
//-           .d-flex.align-items-left.align-items-md-center.flex-column.flex-md-row
//-             div
//-               h2.text-white.pb-2.fw-bold Edit Lead
//-               h5.text-white.op-7.mb-2 Welcome to Admin Panel
//-             .ml-md-auto.py-2.py-md-0
//-               a.btn.btn-white.btn-border.btn-round.mr-2(href='/admin/lead/all') All Lead
//-               a.btn.btn-white.btn-border.btn-round.mr-2(href='/admin/dashboard') Dashboard
//-       .page-inner
//-         .row
//-           //- pre= h.dump(lead)
//-           form.col-md-12(action=`/admin/lead/edit/${lead._id}`, method="POST")
//-             .card
//-               .card-header
//-                 .card-title Center Detail
//-               .card-body
//-                 .row
//-                   .col-md-12.col-lg-12
//-                     .form-group
//-                       label(for='exampleFormControlSelect1') Select Center
//-                       select#center_name.form-control(name='center_id', required='')
//-                         option #{lead.center_id.center_name}
//-                         each center in centers
//-                           option(value=center._id selected=(center._id.toString() == lead.center_id._id.toString())) #{center.center_name}

//-             .card
//-               .card-header
//-                 .card-title Child Information
//-               .card-body
//-                 .row
//-                   .col-md-6.col-lg-4
//-                     .form-group
//-                       label(for='first_name') First Name
//-                       input#first_name.form-control(type='text' name='child_first_name' placeholder='Enter First Name' value=lead.child_first_name)
//-                     .form-group
//-                       label(for='dob') Date of birth
//-                       .input-group
//-                         input#birth.form-control(type='text' name='child_dob' required='')
//-                   .col-md-6.col-lg-4
//-                     .form-group
//-                       label(for='last_name') Last Name
//-                       input#last_name.form-control(type='text' name='child_last_name' placeholder='Enter Last Name' value=lead.child_last_name)
//-                     .form-group
//-                       label(for='exampleFormControlSelect1') Course Interested In
//-                       select#course_int.form-control(name='child_course_id', required='')
//-                         each course in courses
//-                           option(value=course._id selected=(course._id.toString() == lead.child_course_id._id.toString())) #{course.course_name}
//-                   .col-md-6.col-lg-4
//-                     .form-group
//-                       label(for='exampleFormControlSelect1') Select Gender
//-                       select#exampleFormControlSelect1.form-control(name='child_gender', required='')
//-                         option(value='Male' selected=(lead.child_gender == 'Male' ? 'selected' : null)) Male
//-                         option(value='Female' selected=(lead.child_gender == 'Female' ? 'selected' : null)) Female

//-             .card
//-               .card-header
//-                 .card-title Family Information
//-               .card-body
//-                 .row
//-                   .col-md-6.col-lg-4
//-                     .form-group
//-                       label(for='parent_name')
//-                       | Parent Name
//-                       span.required-label *
//-                       input#parent_name.form-control(type='text' name="parent_name" placeholder='Enter Parent Name' value=lead.parent_name required='')
//-                     .form-group
//-                       label(for='parent_email')
//-                       | Parent Email ID
//-                       span.required-label *
//-                       input#parent_email.form-control(type='text' name="parent_email" placeholder='Enter Parent Email ID' value=lead.parent_email required='')
//-                     .form-group
//-                       label(for='area_locality')
//-                       | Area Locality Sector
//-                       span.required-label *
//-                       input#area_locality.form-control(type='text' name="area_locality" placeholder='Enter Area Locality Sector' value=lead.area_locality required='')
//-                     //- .form-group
//-                       label(for='exampleFormControlSelect1') How did you come to Know about us
//-                       span.required-label *
//-                       select#know_us.form-control(name='know_about_us', required='', multiple='multiple')
//-                         option #{lead.know_about_us}
//-                   .col-md-6.col-lg-4
//-                     .form-group
//-                       label(for='parent_contact_no')
//-                       | Parent Contact No.
//-                       span.required-label *
//-                       input#parent_contact_no.form-control(type='text' name="parent_contact_no" placeholder='Enter Parent Contact No.' value=lead.parent_contact_no required='')
//-                     .form-group
//-                       label(for='exampleFormControlSelect1') Select State
//-                       span.required-label *
//-                       select#state-id.form-control(name='state', required='')
//-                         each state in states
//-                           option(value=`${state.id}|${state.state_name}` selected=(state.state_name == lead.state)) #{state.state_name}
//-                     .form-group
//-                       label(for='pincode')
//-                       | Pincode
//-                       span.required-label *
//-                       input#pincode.form-control(type='text' name="pincode" placeholder='Enter Pincode' value=lead.pincode required='')
//-                   .col-md-6.col-lg-4
//-                     .form-group
//-                       label(for='parent_contact_no_another')
//-                       | Parent Contact No. 2
//-                       span.required-label
//-                       input#parent_contact_no_another.form-control(type='text' name="parent_contact_no_another" value=lead.parent_contact_no_another placeholder='Enter Parent Contact No. 2')
//-                     .form-group
//-                       label(for='exampleFormControlSelect1') Select City
//-                       span.required-label *
//-                       select#city-id.form-control(name='city')
//-                         option(value='') -- Select --
//-                         //- each city in cities
//-                         //-   option(value=city.city_name selected=(city.city_name == lead.city)) #{city.city_name}
//-                     .form-group
//-                       label(for='lead_cat') Lead Category
//-                       span.required-label *
//-                       select#lead_cat.form-control(name='lead_category', required='')
//-                         each leadCategory in leadCategories
//-                           option(value=leadCategory.name selected=(leadCategory.name == lead.lead_category)) #{leadCategory.name}
//-             .card-action
//-               .row
//-                 .col-md-12
//-                   button.btn.btn-color.btm-block(type="submit") Update Lead

//-   block script
//-     script(src="/admin/assets/js/plugin/moment/moment.min.js")
//-     script(type='text/javascript' src='/admin/assets/js/plugin/datepicker/bootstrap-datetimepicker.min.js')

//-   script.
//-     var leadObj = !{JSON.stringify(lead)};
//-     console.log(leadObj.child_dob);
//-     $(document).ready(function () {
//-       $('#birth').datetimepicker({
//-         format: 'MM/DD/YYYY',
//-         defaultDate: leadObj.child_dob
//-       });

//-       $('#follow_date').datetimepicker({
//-         format: 'MM/DD/YYYY'
//-       });

//-       $('#follow_up_time').datetimepicker({
//-         format: 'h:mm A',
//-       });

//-       $('#course_int').select2({
//-         theme: "bootstrap"
//-       });

//-       $('#center_name').select2({
//-         theme: "bootstrap"
//-       });

//-       $('#lead_cat').select2({
//-         theme: "bootstrap"
//-       });

//-       $('#know_us').select2({
//-         theme: "bootstrap"
//-       });

//-       $("#status-id").select2({
//-         theme: "bootstrap"
//-       });

//-       $("#substatus-id").select2({
//-         theme: "bootstrap"
//-       });

//-       $("#action_planned").select2({
//-         theme: "bootstrap"
//-       });

//-       $(document).on('change', '#state-id', function () {
//-         // alert('hey');
//-         var stateId = $(this).val();
//-         var onlyStateId = stateId.split("|")[0];
//-         $("#city-id").empty().trigger("change");
//-         $("#city-id").attr("required", "")

//-         $.ajax({
//-           url: `/admin/client/select/state/${onlyStateId}`,
//-           type: 'get',
//-           dataType: 'json',
//-           success: function (response) {
//-             var len = response.data.length;
//-             for (var i = 0; i < len; i++) {
//-               var id = response.data[i]['id'];
//-               var name = response.data[i]['city_name'];

//-               $("#city-id").append("<option value='" + name + "'>" + name + "</option>");
//-             }
//-             $("#city-id").select2("refresh");
//-           }
//-         });
//-       })


//-     })
