doctype html
html(lang='en')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title= `${title} | Kido`
    meta(content='width=device-width, initial-scale=1.0, shrink-to-fit=no', name='viewport')
    link(rel='icon', href='/admin/assets/img/favicon_kido.png', type='image/x-icon')
    //- Fonts and icons
    script(src='/admin/assets/js/plugin/webfont/webfont.min.js')
    script.
      WebFont.load({
      google: {"families":["Lato:300,400,700,900"]},
      custom: {"families":["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/admin/assets/css/fonts.min.css']},
      active: function() {
      sessionStorage.fonts = true;
      }
      });
    //- CSS Files
    link(rel='stylesheet', href='/admin/assets/css/bootstrap.min.css')
    link(rel='stylesheet', href='/admin/assets/css/atlantis.css')
    link(rel='stylesheet', type='text/css', href='/admin/assets/css/custom.css')
  body.login
    block messages
        if locals.flashes
          .inner
            .flash-messages
              - const categories = Object.keys(locals.flashes)
              each category in categories
                each message in flashes[category]
                  .flash(class=`flash--${category}`)
                    p.flash__text!= message
                    button.flash__remove(onClick="this.parentElement.remove()") &times;
    .wrapper.wrapper-login.wrapper-login-full.p-0
      .login-aside.w-50.d-flex.flex-column.align-items-center.justify-content-center.text-center.bg-white(style="background: #00356b !important;")
        img(src="/admin/assets/img/logo.png", alt="inventory logo", width=250)
        //- h1.title.fw-bold.mb-3 inventory
        p.subtitle.op-7(style="padding-top: 10px; color: #fff;") Your Password Expire Create New Password
      .login-aside.w-50.d-flex.align-items-center.justify-content-center.bg-secondary-gradient(style="background: #ffffff !important;")
        .container.container-login.container-transparent.animated.fadeIn
          h3.text-center.text-white(style="color: #000!important;") Update Password
          form.login-form(action=`/admin/account/passwordexpire/${user_id}` id="eventForm" method="POST")
            .form-group
              label.placeholder(for='password')
                b.text-white(style="color: #000!important;") Password
              //- a.link.float-right(href='login3.html#') Forget Password ?
              .position-relative
                input#password.form-control(name='password', type='password', required='')
                .show-password
                  i.icon-eye
            .form-group
              label.placeholder(for='comfirm_password')
                b.text-white(style="color: #000!important;") Comfirm Password
              //- a.link.float-right(href='login3.html#') Forget Password ?
              .position-relative
                input#comfirm_password.form-control(name='comfirm_password', type='password', required='')
                input#user_id.form-control(name='user_id', type='hidden', value=user_id)
                .show-password
                  i.icon-eye
            .form-group.form-action-d-flex.mb-3
              button.btn.btn-secondary.col-md-12.float-right.mt-3.mt-sm-0.fw-bold.has-spinner(type="button" onclick="updatePassword();" style="background: #00356b !important; border-color: #00356b !important;")
                span.spinner
                  i.fa.fa-refresh.fa-spin
                | Update Password
          //- .login-account
              span.msg Back to&nbsp;
              a#show-signup.link(href='/') Main Site
    script(src='/admin/assets/js/core/jquery.3.2.1.min.js')
    script(src='/admin/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js')
    script(src='/admin/assets/js/core/popper.min.js')
    script(src='/admin/assets/js/core/bootstrap.min.js')
    script(src='/admin/assets/js/atlantis.min.js')
    script(src='/admin/assets/js/plugin/sweetalert/sweetalert.min.js')
    script(src='/admin/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js')
    script(src='/admin/custom/login.js')

    script.
      let user_id = !{JSON.stringify(user_id)};
      $('.flash-messages').delay(2100).hide('slow');
      $('.has-spinner').click(function() {
          $(this).toggleClass('active');
      });
      function updatePassword () {
        let password = $.trim($('#password').val())
        let comfirmPasword = $.trim($('#comfirm_password').val())
        if ($.trim($('#password').val()) == '') {
          $.notify({
            message: "Enter Password"
          },{
            type: 'error',
            showProgressbar: false
          },
          {
            offset: 20,
            spacing: 10,
            z_index: 1031,
            delay: 5000,
            timer: 1200
          });
          return false;
        }
        if ($.trim($('#comfirm_password').val()) == '') {
          $.notify({
            message: "Enter Comfirm Password"
          },{
            type: 'error',
            showProgressbar: false
          },
          {
            offset: 20,
            spacing: 10,
            z_index: 1031,
            delay: 5000,
            timer: 1200
          });
          return false;
        }
        if ($.trim($('#comfirm_password').val()) != $.trim($('#password').val()) ) {
          $.notify({
            message: "Enter Same Password"
          },{
            type: 'error',
            showProgressbar: false
          },
          {
            offset: 20,
            spacing: 10,
            z_index: 1031,
            delay: 5000,
            timer: 1200
          });
          return false;
        }

        $.ajax({
          type: 'POST',
          url: `/admin/account/passwordexpire/${user_id}`,
          data: {
            password: $.trim($('#password').val()),
            comfirm_password: $.trim($('#comfirm_password').val())
          },
          success: function(result) {
            //- console.log(result,"result");
            if (result.code == 404) {
              $.notify({
                message: result.message
              },{
                type: 'error',
                showProgressbar: false
              },
              {
                offset: 20,
                spacing: 10,
                z_index: 1031,
                delay: 5000,
                timer: 1200
              });
              return false;
            } else if (result.code == 500) {
              $.notify({
                message: result.message
              },{
                type: 'error',
                showProgressbar: false
              },
              {
                offset: 20,
                spacing: 10,
                z_index: 1031,
                delay: 5000,
                timer: 1200
              });
              return false;
            }else if (result.code == 200) {
              $.notify({
                message: result.message
              },{
                type: 'success',
                showProgressbar: false
              },
              {
                offset: 20,
                spacing: 10,
                z_index: 1031,
                delay: 5000,
                timer: 1200
              });
              window.location.replace("/admin/dashboard");
              return;
            }
          }
        })
      }